<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>581632559212-44m6p4r7hv4kgei5ftasqgmsq4avoebn.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.581632559212-44m6p4r7hv4kgei5ftasqgmsq4avoebn</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>581632559212-kg6a48gv9o1tenmiaut18c41anh6vljr.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCQ59fFo-oGN27rJjKVt6FYbQ7Vg47QpmY</string>
	<key>GCM_SENDER_ID</key>
	<string>581632559212</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.raknaGraduationProject.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>rakna-ea203</string>
	<key>STORAGE_BUCKET</key>
	<string>rakna-ea203.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:581632559212:ios:1c9222214f608a9b803049</string>
	<key>DATABASE_URL</key>
	<string>https://rakna-ea203-default-rtdb.firebaseio.com</string>
</dict>
</plist>